/*

==== Improvements ====
1. Add new lists button
2. Replace settings icon with three dots on lists header
3. Remove plus icon from list header
4. List header height
5. list item height width border
6. List header count border radius
7. List item settings icon show on hover
8. List item bottom spacing
9. List footer design
10. List footer text change to 'Add a card'
11. List footer quick task creation popup design
12. List header settings popup design 
*/

/* Imp #1 : Add new lists button  */
#fluent-boards-app .fluentboards_databox.is-blur {
    background: rgb(0, 121, 191) !important;
}

#fluent-boards-app .el-button.fbs_kanban_view_stage_add_button {
    transform: unset;
    left: unset;
    top: unset;
    justify-content: flex-start;
    width: 272px;
    background-color: #ffffff3d;
    padding: 2px;
    border-radius: 12px;
}

#fluent-boards-app .el-button.fbs_kanban_view_stage_add_button {
    background-color: #ffffff3d;
}

#fluent-boards-app .el-button.fbs_kanban_view_stage_add_button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#fluent-boards-app .el-button.fbs_kanban_view_stage_add_button span {
    gap: 6px;
    /* color: #172b4d; */
    color: #fff;
}

#fluent-boards-app .el-button.fbs_kanban_view_stage_add_button span svg {
    width: 20px;
    height: 20px;
}

#fluent-boards-app .el-button.fbs_kanban_view_stage_add_button span svg path {
    /* stroke: #172b4d; */
    stroke: #fff;
}

/* Imp #2 : Replace settings icon with three dots on lists header  */
#fluent-boards-app .fbs_show_board_show_section_actions {
    padding: 8px;
    border-radius: 8px;
}

#fluent-boards-app .fbs_show_board_show_section_actions:hover {
    background-color: rgb(0,0,0,0.1);
}

#fluent-boards-app .fbs_show_board_show_section_actions .el-icon {
    visibility: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#fluent-boards-app .fbs_show_board_show_section_actions .el-icon::after {
    content: '...'; 
    visibility: visible;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    line-height: 1;
    margin-top: -8px;
}

/* Imp #3 : Remove plus icon from list header  */
#fluent-boards-app .fbs_board_section__menu_trigger .fbs-show-task-add-button-on-top {
    display: none;
}

/* Imp #4 : List header height  */
#fluent-boards-app .fbs_kanban_view_header {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 8px;
}

#fluent-boards-app .fbs_board_section_task_lists_wrap {
    border-radius: 0 0 12px 12px;
}

#fluent-boards-app .fbs_board_section_view .fbs_tasks_layout_grid .fbs_board_view__section_board .fbs_board_section__header {
    padding: 0px 8px 0px 12px;
}

/* Imp #5 : list item height width border */
#fluent-boards-app .fbs_board_section_view .fbs_tasks_layout_grid .fbs_board_view__section_board .fbs_board_section__task_lists .fbs_board_section__task_list {
    margin: 0 8px;
    border: 2px solid transparent;
}

#fluent-boards-app .fbs_board_section_view .fbs_tasks_layout_grid .fbs_board_view__section_board .fbs_board_section__task_lists .fbs_board_section__task_list:hover {
    border: 2px solid #388bff;
}

#fluent-boards-app .fbs_board_section__task_list {
    box-shadow: 0px 1px 1px #091e4240;
}

#fluent-boards-app .fbs_board_section_view .fbs_tasks_layout_grid .fbs_board_view__section_board .fbs_board_section__task_lists .fbs_board_section__task_list .fbs_board_task__details_meta {
    padding: 6px 10px 10px;
}

#fluent-boards-app .fbs_board_section_view .fbs_tasks_layout_grid .fbs_board_view__section_board .task_footer_wrap .fbs_card_footer {
    padding: 0 10px;
}

#fluent-boards-app .fbs_board_section_view .fbs_tasks_layout_grid .fbs_board_view__section_board .fbs_board_section__task_lists .fbs_board_section__task_list {
    padding: 0 0 10px;
}

/* Imp #6 : List header count border radius  */
#fluent-boards-app .fbs_stage_items_counter {
    height: 23px;
    max-width: 15px;
    border-radius: 50%;
}

/* Imp #7 : List item settings icon show on hover  */
#fluent-boards-app .fbs_task_context {
    display: none;
}

#fluent-boards-app .fbs_board_section__task_list:hover .fbs_task_context {
    display: block;
}

/* Imp #8 : List item bottom spacing  */
#fluent-boards-app .fbs_board_section_view .fbs_tasks_layout_grid .fbs_board_view__section_board .fbs_board_section__task_lists {
    padding-bottom: 8px;
}

/* Imp #9 : List footer design  */
#fluent-boards-app .fbs_board_section_task_lists_wrap {
    background: #e9edf6;
}

#fluent-boards-app .fbs_add_task_line {
    padding: 8px;
}

#fluent-boards-app .fbs-add-task-div {
    padding: 6px;
    border-radius: 8px;
    transition-property: background-color, border-color, box-shadow;
    transition-duration: 85ms;
    transition-timing-function: ease;
}

#fluent-boards-app .fbs-add-task-div:hover {
    background: #091e4224;
    color: #172b4d;
}

#fluent-boards-app .fbs_add_task_line:hover {
    color: #172b4d;
}

#fluent-boards-app .fbs-add-task-div svg {
    width: 22px;
    height: 22px;
    color: #172b4d;
}

#fluent-boards-app .fbs-add-task-div svg path {
    stroke: #172b4d;
}


/* Imp #10 : List footer text change to 'Add a card'  */
/* code level change  */

/* Imp #11 : List footer quick task creation popup design  */
#fluent-boards-app .fbs_inline_add_wrap {
    padding-top: 0;
}

#fluent-boards-app .fbs_inline_add .task_inputs .el-textarea__inner {
    min-height: 36px;
    max-height: 160px;
    padding: 8px 12px;
    border-radius: 8px;
    /* height: 56px !important; */
}

#fluent-boards-app .fbs_inline_add {
    border-radius: 8px;
}

#fluent-boards-app .fbs_inline_add_wrap .fbs_inline_actions .el-button {
    border-radius: 3px;
}

#fluent-boards-app .fbs_inline_add_wrap .fbs_inline_actions .el-button:nth-child(2) {
    background: transparent;
    padding: 6px;
}

#fluent-boards-app .fbs_inline_add_wrap .fbs_inline_actions .el-button:nth-child(2):hover {
    background: #091e4224;
}
/* Imp #12 : List header settings popup design  */
